<%= render 'layouts/public' %>
<div class = "container">
  <div class = "row mx-auto">
  <h3>レシピ一覧 全<%= @all_recipes.count %>件</h3>
  </div>

  <div class = "row mt-2 mx-auto">
  <% @recipes.each do |recipe| %>
  <div class="col-lg-4">
    <div class = "card" style="width: 22rem ;">
      <div class = "card-body">
      <%= link_to recipe_path(recipe.id) do %>
        <% if recipe.image.present? %>
          <%= image_tag recipe.image, size: "300x300" %>
        <% else %>
          <video muted width="300" height="300" src="<%= rails_blob_path(recipe.video) %>?<%= SecureRandom.hex(10) %>", size:"300x300" type="video/mp4" controls></video>
        <% end %>
      <% end %>
      </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
      <div class = "button">
      <%= link_to recipe_path(recipe.id) do %>
      <%= recipe.name %>
      <% end %>
      </div>
      </li>
      <li class="list-group-item">
      <%= link_to user_path(recipe.user.id) do %>
        <%= image_tag recipe.user.get_profile_image(50,50), class:"rounded-circle" %>
      <% end %>
      <%= recipe.user.name %>
      </li>
    </ul>
    </div>
  </div>
  <% end %>
  </div>
  <div class = "pagination">
  <%= paginate @recipes %>
  </div>
</div>