<h3>新規レシピ投稿</h3>

<%= form_with model @recipe, url: recipes_path, method: :post do |f| %>

レシピ名：
<%= f.text_field :name %>

やる気度：
<%= f.select :star, ["★",1], ["★★", 2], ["★★★", 3 ],  prompt: "選択" %>

ジャンル：
<%= f.collection_select(:genre_id, @genres, :id, :name, {prompt:"選択"}) %>

レシピ説明文：
<%= f.text_area :introduction %>

レシピ画像・動画：
<%= f.file_field :video %>
<%= f.file_field :image, accept:"image/*" %>

調理時間：
<%= f.text_field :time %>

費用目安：
<%= f.text_field :price %>

食材（分量）：
<%= f.text_area :ingredients %>

手順：
<%= f.text_area :procedure %>

ポイント：
<%= f.text_area :point %>

<%= f.submit '新規投稿' %>
<% end %>