<%= render 'layouts/public' %>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-2">
    <%= render 'layouts/user', user:@user, recipe:@recipe %>
    </div>
    
    <div class = "col-lg-10">
    <h3>いいねしたレシピ一覧</h3>
    <% @favorite_recipes.each do |recipe|%>
    <div class = "card mx-auto" style="width: 22rem ;">
      <div class = "card-body">
      <%= link_to recipe_path(recipe.id) do %>
        <% if recipe.image.present? %>
          <%= image_tag recipe.image, size: "300x300" %>
        <% else %>
          <video muted width="300" height="300" src="<%= rails_blob_path(recipe.video) %>" type="video/mp4" controls></video>
        <% end %>
      <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= recipe.name %></li>
        <li class="list-group-item">
        <%= link_to user_path(recipe.user.id) do %>
          <%= image_tag recipe.user.get_profile_image(50,50), class:"rounded-circle" %>
        <% end %>
        <%= recipe.user.name %>
        </li>
        <li class="list-group-item">やる気度★：<%= recipe.star %></li>
      </ul>
    </div>
    <% end %>
    </div>
  </div>
  <%= paginate @favorite_recipes %>
</div>
