<%= render 'layouts/public' %>
<div class = "container">
  <div class = "row">
    <div class = "col-lg-2">
    <%= render 'layouts/user', user:@user %>
    </div>

    <div class = "col-lg-10">
    <h3 class = "mx-auto">投稿レシピ一覧 全<%= @all_recipes.count %>件</h3>
    <div>
    <%= flash[:notice] %>
    </div>
    <% @recipes.each do |recipe| %>
      <div class = "card mx-auto" style="width: 350px ;">
        <div class = "card-body">
        <%= link_to recipe_path(recipe.id) do %>
          <% if recipe.image.present? %>
            <%= image_tag recipe.image, size: "300x300" %>
          <% else %>
            <video muted width="300" height="300" src="<%= rails_blob_path(recipe.video) %>", size:"300X300" type="video/mp4" controls></video>
          <% end %>
        <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
          <div class = "button">
          <%= link_to recipe_path(recipe.id) do %>
            <%= recipe.name %>
          <% end %>
          </div>
          </li>
          <li class="list-group-item">ジャンル：<%= recipe.genre.name %></li>
          <li class="list-group-item">やる気度★：<%= recipe.star %></li>
        </ul>
      </div>
    <% end %>

    <%= paginate @recipes %>
    </div>
  </div>
</div>
