<header>
  <div class="container">
  <nav class="navbar navbar-expand-lg">
  <div class = "mt-4 ml-2">
  <%= link_to root_path do %>
    <%= image_tag asset_path("rogo.jpg"), class: "rounded-circle", size: "180x180" %>
  <% end %>
  </div>
  <% if admin_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3"><%= link_to "会員一覧", admin_root_path, class: "btn btn-success" %></li>
      <li class="nav-item mr-3"><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-warning" %></li>
      <li class="nav-item mr-3"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %></li>
    </ul>

  <% else %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %></li>
      <li class="nav-item mr-3"><%=link_to "ログイン", new_user_session_path, class: "btn btn-success" %></li>
      <li class="nav-item mr-3"><%= link_to "ABOUT", about_path, class: "btn btn-info" %></li>
    </ul>
  <% end %>
  </nav>
  </div>
</header>