<header>
      <nav class="navbar navbar-expand-lg">
      <div class="container">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3"><%= button_to "マイページ", user_path(current_user.id), {method: :get } %></li>
        <li class="nav-item mr-3"><%= button_to "ログアウト", destroy_user_session_path, {method: :delete } %></li>
        <li class="nav-item mr-3"><%= button_to "ABOUT", about_path, {method: :get } %></li>
      </ul>

     <% else %>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3"><%= button_to "新規登録", new_user_registration_path %></li>
      <li class="nav-item mr-3"><%= button_to "ログイン", new_user_session_path %></li>
      <li class="nav-item mr-3"><%= button_to "ABOUT", about_path %></li>
      </ul>
    <% end %>
     </div>
     </nav>
</header>